body {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 8pt;
background-color: white;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
scrollbar-face-color: #CAE4FF;
scrollbar-highlight-color: #FFFFFF;
scrollbar-shadow-color: #CAE4FF;
scrollbar-3dlight-color: #D1D7DC;
scrollbar-arrow-color:  #004499;
scrollbar-track-color: #EFEFEF;
scrollbar-darkshadow-color: white;
}

table {
  border-collapse: collapse;
  border: none;
   background-color: #CAE4FF;
}

table.message {
  border: solid #000000 1px;
}
table.xx {
  border: solid #fafafa 1px;
}
table.main, table.mainouter {
  background-color: #fafafa;//#fafafa;
}

table.bottom {
  background: transparent;
}
table.test {
background-image: url("../pic/test.jpg");
}
h1 {
  font-size: 12pt;
}

h2 {
  font-size: 10pt;
  margin-bottom: 6px;
}

p {
	font-size: 8pt;
}

p.sub {
  margin-bottom: 4pt;
}

td {
	font-size: 8pt;
	border: solid #006699 1px;
}

td.embedded {
   border: none;
   padding: 0px;
   text-align: left;
}
td.logo {
 padding: 0px;
 border: 0px;
 background-image: url("../pic/logo.jpg");
}
td.logo2 {
 padding: 0px;
 border: 0px;
background-image: url("../pic/logos/zweb_logo_default.png");
background-size:340px;
background-repeat:no-repeat;
background-position: center;
}
td.bottom {
  border: none;
}

td.heading {
  font-weight: bold;
}

td.text {
  padding: 10pt;
  text-align: left;
}

td.comment {
  padding: 10pt;
  font-size: 8pt;
  text-align: left;
}

td.colhead {
  font-weight: bold;
  color: #484848;
  background-image: url(../pic/bar.gif);
}
td.colheadd {
  font-weight: bold;
  color: #484848;
  background-image: url(../pic/bar1.gif);
}

td.rowhead {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

td.title {
	font-size: 14pt;
}

td.navigation {
	font-weight: bold;
	font-size: 10pt;
   border: none;
}

td.clear {
  padding: 0px;
  border: 0px;
  background: transparent;
}

form {
	margin-top: 0;
	margin-bottom: 0;
}

.sublink {
	font-style: italic;
	font-size: 7pt;
	font-weight: normal;
}

font.gray
{
  color: #ACA899;
  text-decoration: underline;
}

a:link, a:visited {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

a:hover {
  color: #006699;
  text-decoration: underline;
}

a.index {
	font-weight: bold;
}

a.biglink {
	font-weight: bold;
	font-size: 12pt;
}

a.altlink:link, a.altlink:visited{
	font-weight: bold;
	color: #A83838;
	text-decoration: none;
}

a.altlink:hover {
  text-decoration: underline;
}

.important {
	font-weight: bold;
	font-size: 8pt;
}

.red {
	color: #ee0000;
}

.yellow {
	color: #997700;
}

.green {
	color: #000000;
}

input, select, textarea {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 8pt;
}

.btn {
  width: 75px;
  height: 23px;
}

.small {
  font-size: 7pt;
}

.big {
  font-size: 10pt;
}

li {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

ul {
  margin-left: 16pt;
  margin-top: 0px;
  margin-bottom: 0px;
}
img.border
{
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}