@media (max-width:1000px) {

.closecats { display: block !important;}
.hide_mobile{ display:none;}
.mobile_border { border: none;}
td.navigation a { font-size: 18px;}
.iframe { display: none; }
#rssnews { display: none;}
#rssnews1{ display: none; }
#stopads{ display: none;}
/*td { display: contents !important; }*/
}